/* アスペクト比を維持するためのコンテナ */
.video-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000;
	overflow: hidden;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	cursor: crosshair;
	z-index: 5;
}
